*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --dark: black;
  --light: white;

  --secondary: #333333;
}

#root{
  background-color: var(--dark);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pizzas-container{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 30px;
  width: 80%;
  margin: 20px 10%;
  justify-content: center;
  background-color: var(--secondary);

}

.pizza-item{
    width: 300px;
    text-align: center;
    overflow: hidden;
    padding: 10px;


}

.pizza-item img{
  width: 200px;
  height: 200px;
}

footer p{
  background-color: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 10px;
}
